<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="assets/frameworks/bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/app/css/index.css" rel="stylesheet" />
    <script src="assets/frameworks/agilevm/agile.vm.browser.js"></script>
    <script src="assets/frameworks/bootstrap3/js/bootstrap.js"></script>
    <script data-main="assets/app/js/entry" data-entry="index" src="assets/frameworks/amd/require.js"></script>
</head>

<body>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">请输入EDN账号登录</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" name="username" v-model="form.username" class="form-control" placeholder="请输入用户名" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" v-model="form.password" class="form-control" placeholder="请输入密码" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="form.checked" value="remember-me"/> Remember me
                </label>
                <label style="float:right;"><a href="https://www.exmobi.cn/signup.html" target="_blank">注册</a></label>
            </div>
            <button v-on:click="func.doSubmit" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
        </form>
    </div><!-- /container -->
</body>

</html>